# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run-*/

# Files from Forge MDK
forge*changelog.txt
ｆbuild.gradle.kts
/src/generated/resources/.cache/
/run
/.kotlin/
/.mcp.json

# Claude and Serena
.claude/
.serena/
CLAUDE.md

# Modified config file
src/main/kotlin/io/github/cotrin8672/cem/config/ModConfigs.kt
